<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About - SpendSmart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">About SpendSmart</h1>
        <div class="circle-container">
            <div class="circle" data-title="Welcome to SpendSmart!">Welcome</div>
            <div class="circle" data-title="Our Mission">Mission</div>
            <div class="circle" data-title="Features">Features</div>
            <div class="circle" data-title="Our Vision">Vision</div>
            <div class="circle" data-title="Get In Touch">Contact</div>
        </div>

        <!-- Pop-up content -->
        <div class="popup" id="popup">
            <h2 class="popup-title">Title</h2>
            <p class="popup-content">Content goes here.</p>
            <button class="popup-close">Close</button>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/about.js"></script>
</body>
</html>
