<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpendSmart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/SpendSmart.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand dynamic-text" asp-area="" asp-controller="Home" asp-action="Index">SpendSmart</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item" style="margin-right: 50px;">
                            <a class="nav-link text-dark dynamic-text" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown" style="margin-right: 50px;">
                            <a class="nav-link dropdown-toggle text-dark dynamic-text" href="#" id="expensesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Expenses
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="expensesDropdown">
                                <li><a class="dropdown-item dynamic-text" asp-controller="Home" asp-action="Expenses">View All Expenses</a></li>
                                <li><a class="dropdown-item dynamic-text" asp-controller="Home" asp-action="AddExpense">Add New Expense</a></li>
                                <li><a class="dropdown-item dynamic-text" asp-controller="Home" asp-action="EditExpense">Edit Existing Expense</a></li>
                                <li><a class="dropdown-item dynamic-text" asp-controller="Home" asp-action="DeleteExpenseInput">Delete Expense</a></li>
                            </ul>
                        </li>
                        <li class="nav-item" style="margin-right: 50px;">
                            <a class="nav-link text-dark dynamic-text" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item" style="margin-right: 50px;">
                            <a class="nav-link text-dark dynamic-text" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <button class="btn btn-dark get-quote-btn ml-3" onclick="window.location.href='@Url.Action("getquote", "Home")'">
                        Get a Quote
                    </button>

                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

     

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate.unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
